<app-list #listComponent title="机构列表" [fields]="fields" [listData]="listData" [toolbar]="listToolbar"
    [action]="listAction"></app-list>
<app-edit #editComponent title="机构编辑" [fields]="fields" [form]="editForm" [toolbar]="editToolbar" [errors]="errors">
</app-edit>
<app-edit-admin #editAdminComponent title="设置管理员" [fields]="fields" [form]="editForm" [toolbar]="editAdminToolbar"
    [errors]="errors">
</app-edit-admin>
<app-select-admin #selectAdminComponent></app-select-admin>
<app-edit-one-to-many #postsComponent></app-edit-one-to-many>
<app-edit-one-to-many #departmentsComponent></app-edit-one-to-many>